<div id="fh5co-contact" data-section="contact" id="faq">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      {{ with .Site.Params.contact }}
      <h2>FAQ</h2>
	  {{ end }}
	  <br/>
	
	  <p>
		<b>¿Cómo puedo participar en el Lighting Tour?</b><br/>
		Para participar, simplemente tienes que jugar al menos uno de los juegos de cada uno de los escapes que participan en la ruta.
	  </p>
	  

	  <p>
		<b>¿Hasta qué fecha puedo completar la ruta?</b><br/>
		Puedes disfrutar de esta ruta hasta el <s>15 de Diciembre del 2020</s>. <b>Extendido hasta el 31 de Enero del 2021</b>.
	  </p>

	  <p>
		<b>Si ya he jugado todos los juegos de alguna de las salas, ¿puedo participar en la ruta?</b><br/>
		En caso de que ya hayas jugado todos los juegos disponibles de alguno o varios de los escapes participantes, deberás ponerte en contacto con la sala para verificar tu participación mediante el comprobante de la reserva y una fotografía.
	  </p>
	  
	  <p>
		<b>¿Cuáles son las condiciones de participación?</b><br/>
		Si quieres consultar las condiciones de participación, puedes hacerlo <a href="https://docs.google.com/document/d/1ep5zcinjmG-DUy3IKgZ_73L7z3jEj65drv00lEpb_tk/edit?usp=sharing">aquí</a>.
	  </p>
    </div>
  </div>
</div>
