<div id="fh5co-contact" data-section="contact">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      {{ with .Site.Params.contact }}
      <h2>FAQ</h2>
	  {{ end }}
	  <br/>
	
	  <p>
		<b>¿Cómo puedo participar en el Lighting Tour?</b><br/>
		Para participar, simplemente tienes que jugar al menos uno de los juegos de cada una de las empresas que participan en la ruta.
	  </p>
	  

	  <p>
		<b>¿Hasta cuando tengo para completar la ruta?</b><br/>
		Para completar la ruta tienes hasta 15 de Diciembre del 2020.
	  </p>

	  <p>
		<b>Si ya has jugado todos los juegos de alguna de las salas, ¿qué hago?</b><br/>
		En caso de que ya hayas jugado todos los juegos disponibles para alguna de las empresas participantes, deberás ponerte en contacto con la sala para verificar tu participación mediante el comprobante de la reserva y una fotografía. 
	  </p>
	  
	  <p>
		<b>¿Cuales son las condiciones de participación?</b><br/>
		Puedes leer las condiciones de participación <a>aquí</a>
	  </p>
    </div>
  </div>
</div>
