<div class="js-sticky">
  <div class="fh5co-main-nav">
    <div class="container">
      <div class="fh5co-menu-1">

	<a href="#" data-nav-section="home">{{ with .Site.Params.nav }}{{ if isset . "logo" }}<img src={{ .logo | absURL }} height="20" alt="">{{ end }}{{ if (not (isset . "logo")) }}Home{{ end }}{{ end }}</a>

  <a href="#" data-nav-section="services">Cómo funciona</a>
  <a href="#" data-nav-section="premios">Premios</a>
	<a href="#" data-nav-section="team">Salas</a>
	<a href="#" data-nav-section="contact">FAQ</a>
	
      </div>
    </div>
  </div>
</div>
